{{#each PosicionesFaciles}}
    <div>
        <h1>{{Nom}}</h1>
        <img src="{{link}}" alt="" class="imagePosicio">
    </div>
{{/each}}  

<a href=""><button class="button">Cambiar</button></a>
<a href="/"><button class="buttonAtras">Menu principal</button></a>