<form action="/formulari" method="post">
    <p>Nom personatge: <input type="text" name="Nom"></p>
    <p>
        Descripcio personatge:<br>    
        <textarea name="descripcioPers"></textarea>
    </p>
    <p>
        Descripcio pasiva:<br>    
        <textarea name="pasivaPers"></textarea>
    </p>
    <button>Enviar</button>
</form>