<h1>Elige una dificultad: </h1>

<div class="contenedor">
    
    <div>
        <h2>Facil</h2>
        <a href="/facil"><img src="https://arc-anglerfish-arc2-prod-gruponacion.s3.amazonaws.com/public/VRGWZNJGHNA2TOVRE3M32VHBTY.jpg" alt=""></a>
    </div>
    <div>
        <h2>Normal</h2>
        <a href="/normal"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/77fc8100-4bb2-40c9-891c-f4dbd6bcb876-1610463809.jpeg?crop=1xw:1xh;center,top&resize=480:*" alt=""></a>
    </div>
    <div>
        <h2>Dificil</h2>
        <a href="/dificil"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/61f8d722-5935-43cb-9692-1c580664ee5b-1610464046.jpeg?crop=1xw:1xh;center,top&resize=480:*" alt=""></a> 
    </div>
</div>