<footer>
        <div class="container">
            <div class="row">
                <div class="item_footer">
                    <h3>Politicas</h3>
                <ul>
                    <li><a href="#" class="links_footer">Privacidad</a></li>
                    <li><a href="#" class="links_footer">Reembolso</a></li>
                    <li><a href="#" class="links_footer">Envíos</a></li>
                </ul>
            </div>
            <div class="item_footer">
                    <h3>Sobre nosotros</h3>
                <ul>
                    <li><a href="#" class="links_footer">Contacto</a></li>
                    <li><a href="#" class="links_footer">Preguntas Frecuentes</a></li>
                    <li><a href="#" class="links_footer">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="item_footer">
                    <h3>Nuestras redes</h3>
                <ul>
                    <li><a href="#" class="links_footer">Instagram</a></li>
                    <li><a href="#" class="links_footer">Facebook</a></li>
                    <li><a href="#" class="links_footer">twitter</a></li>
                </ul>
            </div>
            <div class="text">
                    <h3>Información adicional</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
        </div>
        <p class="copyright">Starlink © 2022</p>
    </div>
</footer>
