<header>
    <nav class="menu">
        <section class="menu_container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Starlink_Logo.svg/1200px-Starlink_Logo.svg.png" alt="" width="150" height="70">
            <ul class="menu_links">
                <li class="menu_item">
                    <a href="/" class="menu_link">Home</a>
                </li>
    
                <li class="menu_item menu_item--show">
                    <a href="#" class="menu_link">Menu 1 <img src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-10.png" alt="" class="menu_fletxa" height="20px" width="30px"></a>
    
                    <ul class="menu_nesting">
                        <li class="menu_inside">
                            <a href="/menu1" class="menu_link menu_link--inside">submenu 1</a>
                        </li>
                        <li class="menu_inside">
                            <a href="#" class="menu_link menu_link--inside">submenu 2</a>
                        </li>
                        <li class="menu_inside">
                            <a href="#" class="menu_link menu_link--inside">submenu 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu_item menu_item--show">
                    <a href="#" class="menu_link">Menu 2 <img src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-10.png" alt="" class="menu_fletxa" height="20px" width="30px"></a>
    
                    <ul class="menu_nesting">
                        <li class="menu_inside">
                            <a href="#" class="menu_link menu_link--inside">submenu 1</a>
                        </li>
                        <li class="menu_inside">
                            <a href="#" class="menu_link menu_link--inside">submenu 2</a>
                        </li>
                        <li class="menu_inside">
                            <a href="#" class="menu_link menu_link--inside">submenu 3</a>
                        </li>
                    </ul>
                </li>
    
                <li class="menu_item">
                    <a href="#" class="menu_link">Contacto</a>
                </li>
    
            </ul>
            
            <div class="menu_desplegable">
                <img src="http://www.rocamorasabor.com/images/menu.png" alt="" height="40px" width="40px" class="menu_img">
            </div>
        </section>
    </nav>
</header>